In [1]:
import warnings 
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r"D:\Nam 4\Ki 1\Lap trinh cho KHDL\Final Project\LTKHDL\data\data.csv")
df.head(5)

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [3]:
# Đổi tên cột để thuận tiện trong quá trình tiền xử lý dữ liệu và phân tích 

df.rename(columns={
    'Age': 'age',
    'Sex': 'sex',
    'Race': 'race',
    'Marital status?': 'marital_status',
    'Education': 'education',
    'Employement': 'employment_status',
    'Incomes': 'income_level',
    'How many books did you read during last 12months?': 'books_read_last_12m',
    'Read any printed books during last 12months?': 'read_printed_books_last_12m',
    'Read any audiobooks during last 12months?': 'read_audiobooks_last_12m',
    'Read any e-books during last 12months?': 'read_ebooks_last_12m',
    'Last book you read, you…': 'last_book_read_format',
    'Do you happen to read any daily news or newspapers?': 'read_daily_news',
    'Do you happen to read any magazines or journals?': 'read_magazines_journals'
}, inplace=True)

In [4]:
df.head(5)

,age,sex,race,marital_status,education,employment_status,income_level,books_read_last_12m,read_printed_books_last_12m,read_audiobooks_last_12m,read_ebooks_last_12m,last_book_read_format,read_daily_news,read_magazines_journals
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [5]:
# Có bao nhiêu hàng, bao nhiêu cột
num_rows, num_cols = df.shape
num_rows, num_cols

(2832, 14)

In [6]:
# Kiểm tra trùng lặp

num_duplicated_rows = df.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Các dòng dữ liệu không bị lặp!")
else:
    print(f"Dữ liệu có {num_duplicated_rows} dòng bị lặp.")

Dữ liệu có 1 dòng bị lặp.

In [7]:
# Xóa các dòng bị lặp
df = df.drop_duplicates()

In [8]:
# Kiểu dữ liệu của từng cột
df.dtypes

age                             int64
sex                            object
race                           object
marital_status                 object
education                      object
employment_status              object
income_level                   object
books_read_last_12m             int64
read_printed_books_last_12m    object
read_audiobooks_last_12m       object
read_ebooks_last_12m           object
last_book_read_format          object
read_daily_news                object
read_magazines_journals        object
dtype: object

Kiểu dữ liệu là phụ hợp với các cột, riêng cột **income_level** cần điều chỉnh để có thể thuận lợi trong quá trình phân tích

In [9]:
income_stats = df['income_level'].value_counts()

print(income_stats)

$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      315
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: income_level, dtype: int64

Có 1 dòng giá trị bị lỗi *9$100,000 to under $150,000* do quá trình nhập dữ liệu => cần chỉnh sửa lại

In [10]:
df = df[df['income_level'].str.lower() != 'refused']

df['income_level'] = df['income_level'].replace('9$100,000 to under $150,000', '$100,000 to under $150,000')

income_stats = df['income_level'].value_counts()

print(income_stats)

$100,000 to under $150,000    742
$50,000 to under $75,000      394
$75,000 to under $100,000     315
$30,000 to under $40,000      265
$20,000 to under $30,000      238
$10,000 to under $20,000      216
$40,000 to under $50,000      207
Less than $10,000             163
Name: income_level, dtype: int64

In [ ]:
# Tạo từ điển để ánh xạ các khoảng thu nhập thành giá trị số
income_mapping = {
    'Less than $10,000': 1,
    '$10,000 to under $20,000': 2,
    '$20,000 to under $30,000': 3,
    '$30,000 to under $40,000': 4,
    '$40,000 to under $50,000': 5,
    '$50,000 to under $75,000': 6,
    '$75,000 to under $100,000': 7,
    '$100,000 to under $150,000': 8
}

# Áp dụng ánh xạ vào cột 'income_level'
df['income_level'] = df['income_level'].map(income_mapping)

df.head(5)

#### Khám phá các cột dữ liệu còn lại

In [11]:
income_stats = df['age'].value_counts()

print(income_stats)

50    69
65    67
47    66
17    66
16    64
      ..
90     2
89     2
91     1
93     1
92     1
Name: age, Length: 78, dtype: int64

In [12]:
income_stats = df['sex'].value_counts()

print(income_stats)

Female    1302
Male      1238
Name: sex, dtype: int64

In [13]:
income_stats = df['race'].value_counts()

print(income_stats)

White                              1981
Black or African-American           327
Asian or Pacific Islander            62
Mixed race                           58
Other                                55
Native American/American Indian      29
Refused                              20
Don’t know                            8
Name: race, dtype: int64

In [14]:
income_stats = df['marital_status'].value_counts()

print(income_stats)

Married                  1327
Never been married        574
Divorced                  233
Widowed                   159
Living with a partner     135
Single                     56
Separated                  51
Don’t know                  5
Name: marital_status, dtype: int64

In [15]:
income_stats = df['education'].value_counts()

print(income_stats)

High school graduate                                        621
Some college, no 4-year degree                              589
College graduate                                            532
Post-graduate training/professional school after college    430
High school incomplete                                      249
Technical, trade or vocational school AFTER high school      61
None                                                         54
Don’t know                                                    4
Name: education, dtype: int64

In [16]:
income_stats = df['employment_status'].value_counts()

print(income_stats)

Employed full-time                 1131
Retired                             494
Not employed for pay                434
Employed part-time                  334
Disabled                             68
Have own business/self-employed      48
Student                              22
Other                                 9
Name: employment_status, dtype: int64

In [18]:
income_stats = df['books_read_last_12m'].value_counts()

print(income_stats)

0     345
3     194
6     152
2     151
10    151
5     148
20    146
4     145
12    135
1     133
97    114
30    102
15     97
50     95
25     69
8      63
40     46
7      45
24     32
60     18
35     15
96     14
75     13
36     13
13     11
18     10
9      10
70      9
16      9
14      7
45      7
17      6
11      4
80      4
32      3
48      3
47      2
26      2
65      2
84      1
67      1
90      1
76      1
55      1
19      1
54      1
23      1
37      1
38      1
42      1
43      1
51      1
52      1
22      1
Name: books_read_last_12m, dtype: int64

In [19]:
income_stats = df['read_printed_books_last_12m'].value_counts()

print(income_stats)

Yes           2031
No             156
Don’t know       8
Name: read_printed_books_last_12m, dtype: int64

In [20]:
income_stats = df['read_audiobooks_last_12m'].value_counts()

print(income_stats)

No            1821
Yes            371
Don’t know       3
Name: read_audiobooks_last_12m, dtype: int64

In [22]:
income_stats = df['read_ebooks_last_12m'].value_counts()

print(income_stats)

No            1464
Yes            718
Don’t know      13
Name: read_ebooks_last_12m, dtype: int64

In [23]:
income_stats = df['last_book_read_format'].value_counts()

print(income_stats)

Purchased the book                                  1144
Borrowed the book from a friend or family member     452
Borrowed the book from a library                     291
Got the book some other way                          280
8                                                     23
9                                                      5
Name: last_book_read_format, dtype: int64

In [25]:
income_stats = df['read_daily_news'].value_counts()

print(income_stats)

Yes           1543
No             992
Don’t know       5
Name: read_daily_news, dtype: int64

In [26]:
income_stats = df['read_magazines_journals'].value_counts()

print(income_stats)

Yes           1336
No            1200
Don’t know       4
Name: read_magazines_journals, dtype: int64