In [1]:
import warnings 
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
# warnings.filterwarnings('ignore', category=SomeWarningType)

In [2]:
df = pd.read_csv(r"D:\Nam 4\Ki 1\Lap trinh cho KHDL\Final Project\LTKHDL\data\data.csv")
df.head(5)

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [3]:
# Đổi tên cột để thuận tiện trong quá trình tiền xử lý dữ liệu và phân tích 

df.rename(columns={
    'Age': 'age',
    'Sex': 'sex',
    'Race': 'race',
    'Marital status?': 'marital_status',
    'Education': 'education',
    'Employement': 'employment_status',
    'Incomes': 'income_level',
    'How many books did you read during last 12months?': 'books_read_last_12m',
    'Read any printed books during last 12months?': 'read_printed_books_last_12m',
    'Read any audiobooks during last 12months?': 'read_audiobooks_last_12m',
    'Read any e-books during last 12months?': 'read_ebooks_last_12m',
    'Last book you read, you…': 'last_book_read_format',
    'Do you happen to read any daily news or newspapers?': 'read_daily_news',
    'Do you happen to read any magazines or journals?': 'read_magazines_journals'
}, inplace=True)

In [4]:
df.head(5)

,age,sex,race,marital_status,education,employment_status,income_level,books_read_last_12m,read_printed_books_last_12m,read_audiobooks_last_12m,read_ebooks_last_12m,last_book_read_format,read_daily_news,read_magazines_journals
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

#### Ý nghĩa của từng cột
* **age**: Lưu trữ tuổi của đối tượng
* **sex**: Lưu trữ giới tính của đối tượng (nam, nữ hoặc các giới tính khác)
* **race**: Lưu trữ thông tin về chủng tộc của đối tượng
* **marital_status**: Lưu trữ trạng thái hôn nhân của đối tượng (độc thân, kết hôn, ...)
* **education**: Lưu trữ trình độ học vấn của đối tượng
* **employment_status**: Lưu trữ trạng thái việc làm của đối tượng (đang làm việc, thất nghiệp, ...)
* **income_level**: Lưu trữ mức thu nhập của đối tượng
* **books_read_last_12m**: Lưu trữ số lượng sách mà đối tượng đã đọc trong 12 tháng qua
* **read_printed_books_last_12m**: Lưu trữ thông tin về việc đối tượng có đọc sách in trong 12 tháng qua hay không
* **read_audiobooks_last_12m**: Lưu trữ thông tin về việc đối tượng có nghe sách nói trong 12 tháng qua hay không
* **read_ebooks_last_12m**: Lưu trữ thông tin về việc đối tượng có đọc sách điện tử trong 12 tháng qua hay không
* **last_book_read_format**: Lưu trữ thông tin về định dạng của cuốn sách cuối cùng mà đối tượng đã đọc (sách in, sách điện tử, sách nói)
* **read_daily_news**: Lưu trữ thông tin về việc đối tượng có đọc tin tức hoặc báo hàng ngày hay không
* **ead_magazines_journals**: Lưu trữ thông tin về việc đối tượng có đọc tạp chí hoặc tạp chí chuyên ngành hay không

In [5]:
# Có bao nhiêu hàng, bao nhiêu cột
num_rows, num_cols = df.shape
num_rows, num_cols

(2832, 14)

In [6]:
# Kiểm tra trùng lặp

num_duplicated_rows = df.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Các dòng dữ liệu không bị lặp!")
else:
    print(f"Dữ liệu có {num_duplicated_rows} dòng bị lặp.")

Dữ liệu có 1 dòng bị lặp.

In [7]:
# Xóa các dòng bị lặp
df = df.drop_duplicates()

In [8]:
# Kiểu dữ liệu của từng cột
df.dtypes

age                             int64
sex                            object
race                           object
marital_status                 object
education                      object
employment_status              object
income_level                   object
books_read_last_12m             int64
read_printed_books_last_12m    object
read_audiobooks_last_12m       object
read_ebooks_last_12m           object
last_book_read_format          object
read_daily_news                object
read_magazines_journals        object
dtype: object

Kiểu dữ liệu là phụ hợp với các cột, riêng cột **income_level** cần điều chỉnh để có thể thuận lợi trong quá trình phân tích

In [9]:
income_stats = df['income_level'].value_counts()

print(income_stats)

$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      315
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: income_level, dtype: int64

Có 1 dòng giá trị bị lỗi *9$100,000 to under $150,000* do quá trình nhập dữ liệu => cần chỉnh sửa lại

In [10]:
df = df[df['income_level'].str.lower() != 'refused']

df['income_level'] = df['income_level'].replace('9$100,000 to under $150,000', '$100,000 to under $150,000')

income_stats = df['income_level'].value_counts()

print(income_stats)

$100,000 to under $150,000    742
$50,000 to under $75,000      394
$75,000 to under $100,000     315
$30,000 to under $40,000      265
$20,000 to under $30,000      238
$10,000 to under $20,000      216
$40,000 to under $50,000      207
Less than $10,000             163
Name: income_level, dtype: int64

In [11]:
# Tạo từ điển để ánh xạ các khoảng thu nhập thành giá trị số
income_mapping = {
    'Less than $10,000': 1,
    '$10,000 to under $20,000': 2,
    '$20,000 to under $30,000': 3,
    '$30,000 to under $40,000': 4,
    '$40,000 to under $50,000': 5,
    '$50,000 to under $75,000': 6,
    '$75,000 to under $100,000': 7,
    '$100,000 to under $150,000': 8
}

# Áp dụng ánh xạ vào cột 'income_level'
df['income_level'] = df['income_level'].map(income_mapping)

df.head(5)

,age,sex,race,marital_status,education,employment_status,income_level,books_read_last_12m,read_printed_books_last_12m,read_audiobooks_last_12m,read_ebooks_last_12m,last_book_read_format,read_daily_news,read_magazines_journals
0,66,Male,Refused,Divorced,College graduate,Retired,3,97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,1,97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,1,97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,5,97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,2,97,Yes,Yes,No,Purchased the book,Yes,No

#### Khám phá các cột dữ liệu còn lại

In [12]:
income_stats = df['age'].value_counts()

print(income_stats)

50    69
65    67
47    66
17    66
16    64
      ..
90     2
89     2
91     1
93     1
92     1
Name: age, Length: 78, dtype: int64

In [13]:
income_stats = df['sex'].value_counts()

print(income_stats)

Female    1302
Male      1238
Name: sex, dtype: int64

In [14]:
income_stats = df['race'].value_counts()

print(income_stats)

White                              1981
Black or African-American           327
Asian or Pacific Islander            62
Mixed race                           58
Other                                55
Native American/American Indian      29
Refused                              20
Don’t know                            8
Name: race, dtype: int64

In [15]:
income_stats = df['marital_status'].value_counts()

print(income_stats)

Married                  1327
Never been married        574
Divorced                  233
Widowed                   159
Living with a partner     135
Single                     56
Separated                  51
Don’t know                  5
Name: marital_status, dtype: int64

In [16]:
income_stats = df['education'].value_counts()

print(income_stats)

High school graduate                                        621
Some college, no 4-year degree                              589
College graduate                                            532
Post-graduate training/professional school after college    430
High school incomplete                                      249
Technical, trade or vocational school AFTER high school      61
None                                                         54
Don’t know                                                    4
Name: education, dtype: int64

In [17]:
income_stats = df['employment_status'].value_counts()

print(income_stats)

Employed full-time                 1131
Retired                             494
Not employed for pay                434
Employed part-time                  334
Disabled                             68
Have own business/self-employed      48
Student                              22
Other                                 9
Name: employment_status, dtype: int64

In [18]:
income_stats = df['books_read_last_12m'].value_counts()

print(income_stats)

0     345
3     194
6     152
2     151
10    151
5     148
20    146
4     145
12    135
1     133
97    114
30    102
15     97
50     95
25     69
8      63
40     46
7      45
24     32
60     18
35     15
96     14
75     13
36     13
13     11
18     10
9      10
70      9
16      9
14      7
45      7
17      6
11      4
80      4
32      3
48      3
47      2
26      2
65      2
84      1
67      1
90      1
76      1
55      1
19      1
54      1
23      1
37      1
38      1
42      1
43      1
51      1
52      1
22      1
Name: books_read_last_12m, dtype: int64

In [19]:
income_stats = df['read_printed_books_last_12m'].value_counts()

print(income_stats)

Yes           2031
No             156
Don’t know       8
Name: read_printed_books_last_12m, dtype: int64

In [20]:
income_stats = df['read_audiobooks_last_12m'].value_counts()

print(income_stats)

No            1821
Yes            371
Don’t know       3
Name: read_audiobooks_last_12m, dtype: int64

In [21]:
income_stats = df['read_ebooks_last_12m'].value_counts()

print(income_stats)

No            1464
Yes            718
Don’t know      13
Name: read_ebooks_last_12m, dtype: int64

In [22]:
income_stats = df['last_book_read_format'].value_counts()

print(income_stats)

Purchased the book                                  1144
Borrowed the book from a friend or family member     452
Borrowed the book from a library                     291
Got the book some other way                          280
8                                                     23
9                                                      5
Name: last_book_read_format, dtype: int64

In [23]:
# Có hai kiểu dữ liệu lạ xuất hiện trong trong cột last_book_read_format 
# => xóa bỏ những dòng dữ liệu không có ý nghĩa làm ảnh hưởng đến quá trình phân tích dữ liệu

df = df[df['last_book_read_format'].str.lower() != '8']
df = df[df['last_book_read_format'].str.lower() != '9']

In [24]:
income_stats = df['read_daily_news'].value_counts()

print(income_stats)

Yes           1528
No             979
Don’t know       5
Name: read_daily_news, dtype: int64

In [25]:
income_stats = df['read_magazines_journals'].value_counts()

print(income_stats)

Yes           1329
No            1179
Don’t know       4
Name: read_magazines_journals, dtype: int64

In [26]:
# Xoá tất cả dòng chứa dữ liệu Don't know và None

df = df[~df.isin(["Don’t know", "None"]).any(axis = 1)]

In [27]:
# Kiểm tra lại
for col in df.columns:
    print(f"Statistics for column: {col}")
    print(df[col].value_counts(dropna=False))  # dropna=False để bao gồm cả giá trị NaN
    print("-" * 50)  # Đường phân cách giữa các cột

Statistics for column: age
17    64
47    64
65    63
50    62
60    61
      ..
90     2
89     2
91     1
93     1
92     1
Name: age, Length: 78, dtype: int64
--------------------------------------------------
Statistics for column: sex
Female    1251
Male      1163
Name: sex, dtype: int64
--------------------------------------------------
Statistics for column: race
White                              1912
Black or African-American           301
Asian or Pacific Islander            60
Mixed race                           51
Other                                50
Native American/American Indian      25
Refused                              15
Name: race, dtype: int64
--------------------------------------------------
Statistics for column: marital_status
Married                  1275
Never been married        549
Divorced                  222
Widowed                   152
Living with a partner     124
Single                     51
Separated                  41
Name: marital_status, dtype: int64
--------------------------------------------------
Statistics for column: education
High school graduate                                        603
Some college, no 4-year degree                              577
College graduate                                            516
Post-graduate training/professional school after college    422
High school incomplete                                      237
Technical, trade or vocational school AFTER high school      59
Name: education, dtype: int64
--------------------------------------------------
Statistics for column: employment_status
Employed full-time                 1082
Retired                             475
Not employed for pay                401
Employed part-time                  321
Disabled                             60
Have own business/self-employed      46
Student                              21
Other                                 8
Name: employment_status, dtype: int64
--------------------------------------------------
Statistics for column: income_level
8    706
6    380
7    307
4    252
3    231
5    201
2    201
1    136
Name: income_level, dtype: int64
--------------------------------------------------
Statistics for column: books_read_last_12m
0     317
3     185
10    148
5     145
6     143
20    142
2     138
4     136
12    127
1     115
97    113
30     97
15     94
50     93
25     67
8      61
40     45
7      44
24     30
60     17
35     15
96     14
36     13
75     13
13     11
18     10
9      10
70      9
16      9
14      7
45      7
17      5
11      4
80      4
48      3
32      3
26      2
65      2
47      2
67      1
84      1
90      1
54      1
19      1
52      1
22      1
23      1
37      1
38      1
42      1
43      1
51      1
55      1
Name: books_read_last_12m, dtype: int64
--------------------------------------------------
Statistics for column: read_printed_books_last_12m
Yes    1960
NaN     317
No      137
Name: read_printed_books_last_12m, dtype: int64
--------------------------------------------------
Statistics for column: read_audiobooks_last_12m
No     1743
Yes     354
NaN     317
Name: read_audiobooks_last_12m, dtype: int64
--------------------------------------------------
Statistics for column: read_ebooks_last_12m
No     1394
Yes     703
NaN     317
Name: read_ebooks_last_12m, dtype: int64
--------------------------------------------------
Statistics for column: last_book_read_format
Purchased the book                                  1114
Borrowed the book from a friend or family member     438
NaN                                                  317
Borrowed the book from a library                     277
Got the book some other way                          268
Name: last_book_read_format, dtype: int64
--------------------------------------------------
Statistics for column: read_daily_news
Yes    1478
No      936
Name: read_daily_news, dtype: int64
--------------------------------------------------
Statistics for column: read_magazines_journals
Yes    1288
No     1126
Name: read_magazines_journals, dtype: int64
--------------------------------------------------

In [28]:
# Xử lý giá trị thiếu

missing_ratio = df.isnull().sum()
missing_ratio = missing_ratio / num_rows
missing_ratio

age                            0.000000
sex                            0.000000
race                           0.000000
marital_status                 0.000000
education                      0.000000
employment_status              0.000000
income_level                   0.000000
books_read_last_12m            0.000000
read_printed_books_last_12m    0.111935
read_audiobooks_last_12m       0.111935
read_ebooks_last_12m           0.111935
last_book_read_format          0.111935
read_daily_news                0.000000
read_magazines_journals        0.000000
dtype: float64

In [29]:
# Vì dữ liệu thiếu khá nhiều nên theo ý kiến cá nhân không nên fill data vì sẽ gây ra sai lệch nhiều => xoá 

# Xóa tất cả các dòng có giá trị thiếu
df = df.dropna()

# Kiểm tra lại để đảm bảo không còn giá trị thiếu
print(df.isnull().sum())

age                            0
sex                            0
race                           0
marital_status                 0
education                      0
employment_status              0
income_level                   0
books_read_last_12m            0
read_printed_books_last_12m    0
read_audiobooks_last_12m       0
read_ebooks_last_12m           0
last_book_read_format          0
read_daily_news                0
read_magazines_journals        0
dtype: int64

In [30]:
del_cols = []
for i in range(len(missing_ratio)):
    if missing_ratio[i] > 0.9:
        del_cols.append(missing_ratio.index[i])
df = df.drop(del_cols,axis=1)
df.columns

Index(['age', 'sex', 'race', 'marital_status', 'education',
       'employment_status', 'income_level', 'books_read_last_12m',
       'read_printed_books_last_12m', 'read_audiobooks_last_12m',
       'read_ebooks_last_12m', 'last_book_read_format', 'read_daily_news',
       'read_magazines_journals'],
      dtype='object')

In [31]:
# Phân bố dữ liệu ở các cột dạng số

data = {
    "row_name" : ["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"]
}
col_name = []
for i in df.columns:
    if (df[i].dtypes == 'float64') or (df[i].dtypes == 'int64'):
        col_name.append(i)

for i in col_name:
    _data = []
    missing_data = df[i].isna().sum()
    _data.append((missing_data / len(df[i]) * 100).round(1))
    _data.append(df[i].min())
    percentile = df[i].quantile([0.25,0.5,0.75])
    _data.append(percentile[0.25])
    _data.append(percentile[0.5])
    _data.append(percentile[0.75])
    _data.append(df[i].max())
    data[i] = _data
num_col_info_df = pd.DataFrame(data).set_index('row_name')

In [32]:
df.head(5)

,age,sex,race,marital_status,education,employment_status,income_level,books_read_last_12m,read_printed_books_last_12m,read_audiobooks_last_12m,read_ebooks_last_12m,last_book_read_format,read_daily_news,read_magazines_journals
0,66,Male,Refused,Divorced,College graduate,Retired,3,97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,1,97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,1,97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,5,97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,2,97,Yes,Yes,No,Purchased the book,Yes,No

In [33]:
num_col_info_df

                 age  income_level  books_read_last_12m
row_name
missing_ratio    0.0           0.0                  0.0
min             16.0           1.0                  1.0
lower_quartile  30.0           4.0                  4.0
median          47.0           6.0                 10.0
upper_quartile  60.0           8.0                 25.0
max             93.0           8.0                 97.0

In [34]:
# Phân bố dữ liệu ở các cột không phải dạng số

# Lọc các cột phân loại trong DataFrame
categorical_df = df.select_dtypes(exclude=['int64', 'float64', 'datetime64'])

# Tạo dictionary chứa dữ liệu cho DataFrame
data = {
    "row_name": ["missing_ratio", "num_values", "value_ratios"]
}

# Lặp qua từng cột phân loại và tính toán các thông tin cần thiết
for col in categorical_df.columns:
    # Tính missing ratio
    missing_ratio = (categorical_df[col].isna().sum() / len(categorical_df[col])) * 100
    
    # Tính số lượng giá trị khác nhau
    num_values = categorical_df[col].nunique()
    
    # Tính tỉ lệ của các giá trị
    value_ratios = categorical_df[col].value_counts(normalize=True).round(3) * 100
    dict_value_ratios = value_ratios.to_dict()

    # Thêm thông tin của cột vào dictionary
    data[col] = [missing_ratio, num_values, dict_value_ratios]

# Tạo DataFrame từ dictionary và đặt row_name làm index
cat_col_info_df = pd.DataFrame(data).set_index('row_name')

In [35]:
cat_col_info_df

,sex,race,marital_status,education,employment_status,read_printed_books_last_12m,read_audiobooks_last_12m,read_ebooks_last_12m,last_book_read_format,read_daily_news,read_magazines_journals
row_name,,,,,,,,,,,
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,2,7,7,6,8,2,2,2,4,2,2
value_ratios,"{'Female': 54.2, 'Male': 45.800000000000004}","{'White': 79.80000000000001, 'Black or African...","{'Married': 53.2, 'Never been married': 24.0, ...","{'Some college, no 4-year degree': 24.7, 'Coll...","{'Employed full-time': 45.4, 'Retired': 19.0, ...","{'Yes': 93.5, 'No': 6.5}","{'No': 83.1, 'Yes': 16.900000000000002}","{'No': 66.5, 'Yes': 33.5}","{'Purchased the book': 53.1, 'Borrowed the boo...","{'Yes': 62.7, 'No': 37.3}","{'Yes': 57.199999999999996, 'No': 42.8}"

In [38]:
try:
    df.to_csv('../data/cleaned_data.csv', index=False)
    print("Đã lưu dữ liệu thành công vào file ../data/cleaned_data.csv")
    print(f"Số dòng: {len(df)}")
    print(f"Số cột: {len(df.columns)}")
except Exception as e:
    print(f"Có lỗi khi lưu file: {str(e)}")

Đã lưu dữ liệu thành công vào file ../data/cleaned_data.csv
Số dòng: 2097
Số cột: 14