In [1]:
import warnings 
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r"D:\Nam 4\Ki 1\Lap trinh cho KHDL\Final Project\LTKHDL\data\data.csv")
df.head(5)

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [3]:
# Đổi tên cột để thuận tiện trong quá trình tiền xử lý dữ liệu và phân tích 

df.rename(columns={
    'Age': 'age',
    'Sex': 'sex',
    'Race': 'race',
    'Marital status?': 'marital_status',
    'Education': 'education',
    'Employement': 'employment_status',
    'Incomes': 'income_level',
    'How many books did you read during last 12months?': 'books_read_last_12m',
    'Read any printed books during last 12months?': 'read_printed_books_last_12m',
    'Read any audiobooks during last 12months?': 'read_audiobooks_last_12m',
    'Read any e-books during last 12months?': 'read_ebooks_last_12m',
    'Last book you read, you…': 'last_book_read_format',
    'Do you happen to read any daily news or newspapers?': 'read_daily_news',
    'Do you happen to read any magazines or journals?': 'read_magazines_journals'
}, inplace=True)

In [4]:
df.head(5)

,age,sex,race,marital_status,education,employment_status,income_level,books_read_last_12m,read_printed_books_last_12m,read_audiobooks_last_12m,read_ebooks_last_12m,last_book_read_format,read_daily_news,read_magazines_journals
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No

In [5]:
# Có bao nhiêu hàng, bao nhiêu cột
num_rows, num_cols = df.shape
num_rows, num_cols

(2832, 14)

In [6]:
# Kiểm tra trùng lặp

num_duplicated_rows = df.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Các dòng dữ liệu không bị lặp!")
else:
    print(f"Dữ liệu có {num_duplicated_rows} dòng bị lặp.")

Dữ liệu có 1 dòng bị lặp.

In [7]:
# Xóa các dòng bị lặp
df = df.drop_duplicates()

In [8]:
# Kiểu dữ liệu của từng cột
df.dtypes

age                             int64
sex                            object
race                           object
marital_status                 object
education                      object
employment_status              object
income_level                   object
books_read_last_12m             int64
read_printed_books_last_12m    object
read_audiobooks_last_12m       object
read_ebooks_last_12m           object
last_book_read_format          object
read_daily_news                object
read_magazines_journals        object
dtype: object

Kiểu dữ liệu là phụ hợp với các cột, riêng cột **income_level** cần điều chỉnh để có thể thuận lợi trong quá trình phân tích

In [9]:
income_stats = df['income_level'].value_counts()

print(income_stats)

$100,000 to under $150,000     530
$50,000 to under $75,000       394
$75,000 to under $100,000      315
Refused                        291
$30,000 to under $40,000       265
$20,000 to under $30,000       238
$10,000 to under $20,000       216
9$100,000 to under $150,000    212
$40,000 to under $50,000       207
Less than $10,000              163
Name: income_level, dtype: int64

Có 1 dòng giá trị bị lỗi *9$100,000 to under $150,000* do quá trình nhập dữ liệu => cần chỉnh sửa lại

In [10]:
df = df[df['income_level'].str.lower() != 'refused']

df['income_level'] = df['income_level'].replace('9$100,000 to under $150,000', '$100,000 to under $150,000')

income_stats = df['income_level'].value_counts()

print(income_stats)

$100,000 to under $150,000    742
$50,000 to under $75,000      394
$75,000 to under $100,000     315
$30,000 to under $40,000      265
$20,000 to under $30,000      238
$10,000 to under $20,000      216
$40,000 to under $50,000      207
Less than $10,000             163
Name: income_level, dtype: int64

In [ ]:
# Tạo từ điển để ánh xạ các khoảng thu nhập thành giá trị số
income_mapping = {
    'Less than $10,000': 1,
    '$10,000 to under $20,000': 2,
    '$20,000 to under $30,000': 3,
    '$30,000 to under $40,000': 4,
    '$40,000 to under $50,000': 5,
    '$50,000 to under $75,000': 6,
    '$75,000 to under $100,000': 7,
    '$100,000 to under $150,000': 8
}

# Áp dụng ánh xạ vào cột 'income_level'
df['income_level'] = df['income_level'].map(income_mapping)

df.head(5)