# 1. Import

In [11]:
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt

# 2. Tiền xử lí

## 2.1. Đọc dữ liệu

In [17]:
gas_df = pd.read_csv("./BigML_Dataset_5f50a62795a9306aa200003e.csv")
gas_df

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
0,66,Male,Refused,Divorced,College graduate,Retired,"$20,000 to under $30,000",97,Yes,No,Yes,Purchased the book,No,Yes
1,46,Male,Native American/American Indian,Married,High school graduate,Employed full-time,"Less than $10,000",97,Yes,Yes,Yes,Purchased the book,Yes,Yes
2,32,Male,Mixed race,Never been married,High school graduate,Employed full-time,"Less than $10,000",97,No,Yes,Yes,Borrowed the book from a friend or family member,Yes,Yes
3,27,Male,Mixed race,Married,High school graduate,Employed full-time,"$40,000 to under $50,000",97,Yes,No,Yes,Borrowed the book from a library,Yes,No
4,16,Female,Mixed race,Never been married,High school incomplete,Employed part-time,"$10,000 to under $20,000",97,Yes,Yes,No,Purchased the book,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2827,18,Male,White,Never been married,High school graduate,Employed part-time,"$75,000 to under $100,000",0,NaN,NaN,NaN,NaN,Yes,Yes
2828,17,Male,White,Never been married,High school incomplete,Employed part-time,"$30,000 to under $40,000",0,NaN,NaN,NaN,NaN,Yes,No
2829,17,Female,White,Never been married,High school incomplete,Not employed for pay,"9$100,000 to under $150,000",0,NaN,NaN,NaN,NaN,No,Yes
2830,16,Male,White,Never been married,High school graduate,Not employed for pay,"9$100,000 to under $150,000",0,NaN,NaN,NaN,NaN,No,No
2831,16,Male,White,Never been married,Don’t know,Not employed for pay,Refused,0,NaN,NaN,NaN,NaN,No,No

## 2.2. Số lượng dòng, cột

In [20]:
rows, columns = data.shape
print(f"Số dòng: {rows}, Số cột: {columns}")

Số dòng: 2832, Số cột: 14

## 2.3. Ý nghĩa của mỗi dòng
- Mỗi dòng đại diện cho một cá nhân với thông tin về độ tuổi, giới tính, chủng tộc, tình trạng hôn nhân, học vấn, thu nhập và thói quen đọc sách trong 12 tháng qua.
(có thể trình bày cụ thể từng dòng)

## 2.4. Có dòng nào bị trùng lặp không?

In [28]:
duplicated_rows = data.duplicated().sum()
print(f"Số dòng trùng lặp: {duplicated_rows}")

Số dòng trùng lặp: 1

In [32]:
duplicated_rows = data[data.duplicated()]
duplicated_rows # Hiển thị dòng trùng lặp

,Age,Sex,Race,Marital status?,Education,Employement,Incomes,How many books did you read during last 12months?,Read any printed books during last 12months?,Read any audiobooks during last 12months?,Read any e-books during last 12months?,"Last book you read, you…",Do you happen to read any daily news or newspapers?,Do you happen to read any magazines or journals?
1023,65,Male,White,Married,College graduate,Retired,"$75,000 to under $100,000",12,Yes,No,Yes,Purchased the book,Yes,Yes

## 2.5. Ý nghĩa của từng cột
- Age: Tuổi của cá nhân.
Đại diện cho tuổi của người tham gia khảo sát.
- Sex: Giới tính của cá nhân.
Cho biết giới tính (Male - Nam, Female - Nữ).
- Race: Chủng tộc của cá nhân.
Chỉ ra chủng tộc hoặc sắc tộc của người tham gia (Ví dụ: Mixed race, Native American, v.v.).
- Marital status?: Tình trạng hôn nhân của cá nhân.
Cho biết người đó đã kết hôn, chưa kết hôn, ly dị, hoặc góa phụ.
- Education: Trình độ học vấn của cá nhân.
Mô tả mức độ học vấn cao nhất mà người đó đã đạt được (Ví dụ: High school graduate, College graduate).
- Employement: Tình trạng việc làm của cá nhân.
Thông tin về trạng thái việc làm của người tham gia (Ví dụ: Employed full-time, Employed part-time, Retired).
- Incomes: Mức thu nhập của cá nhân.
Mô tả khoảng thu nhập hàng năm của người đó (Ví dụ: Less than $10,000, $20,000 to under $30,000).
- How many books did you read during last 12 months?: Số sách mà cá nhân đã đọc trong 12 tháng qua.
Đây là một câu hỏi về thói quen đọc sách, ghi lại số lượng sách đã đọc.
- Read any printed books during last 12 months?: Xác nhận xem người đó có đọc sách in trong 12 tháng qua hay không.
(Yes - Có, No - Không).
- Read any audiobooks during last 12 months?: Xác nhận xem người đó có nghe sách nói trong 12 tháng qua hay không.
(Yes - Có, No - Không).
- Read any e-books during last 12 months?: Xác nhận xem người đó có đọc sách điện tử (e-book) trong 12 tháng qua hay không.
(Yes - Có, No - Không).
- Last book you read, you…: Cách mà họ có được cuốn sách cuối cùng mà họ đã đọc.
Mô tả cách người ta có được cuốn sách cuối cùng (Ví dụ: Purchased the book - Mua sách, Borrowed from a library - Mượn từ thư viện).
- Do you happen to read any daily news or newspapers?: Câu hỏi xác nhận thói quen đọc báo hoặc tin tức hằng ngày.
(Yes - Có, No - Không).
- Do you happen to read any magazines or journals?: Câu hỏi xác nhận xem người tham gia có đọc tạp chí hoặc báo chí không.
(Yes - Có, No - Không).

## 2.6. Kiểu dữ liệu của mỗi cột. Có cột nào có kiểu dữ liệu không phù hợp?

In [36]:
data_types = data.dtypes
print(data_types)

Age                                                     int64
Sex                                                    object
Race                                                   object
Marital status?                                        object
Education                                              object
Employement                                            object
Incomes                                                object
How many books did you read during last 12months?       int64
Read any printed books during last 12months?           object
Read any audiobooks during last 12months?              object
Read any e-books during last 12months?                 object
Last book you read, you…                               object
Do you happen to read any daily news or newspapers?    object
Do you happen to read any magazines or journals?       object
dtype: object

Tất cả các cột đều có kiểu dữ liệu phù hợp với nội dung mà chúng biểu diễn. Không có cột nào có kiểu dữ liệu không phù hợp

## 2.7. Với mỗi cột số, các giá trị được phân bổ như thế nào?
### Tỉ lệ phần trăm giá trị bị thiếu?

In [42]:
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns
missing_percent = data[numerical_columns].isnull().mean() * 100
print("Tỷ lệ phần trăm giá trị bị thiếu trong các cột số:")
print(missing_percent)

Tỷ lệ phần trăm giá trị bị thiếu trong các cột số:
Age                                                  0.0
How many books did you read during last 12months?    0.0
dtype: float64

- Không có giá trị nào bị thiếu trong các cột số, vì tất cả các giá trị đều là số nguyên và không có NaN

### Giá trị Min? Max?

In [49]:
min_max_values = data[numerical_columns].agg(['min', 'max'])
print("Giá trị Min và Max của các cột số:")
print(min_max_values)

Giá trị Min và Max của các cột số:
     Age  How many books did you read during last 12months?
min   16                                                  0
max   93                                                 97

- Age: Min = 16, Max = 93, giá trị này nằm trong khoảng hợp lý cho độ tuổi của người tham gia. Nếu min nhỏ hơn hoặc bằng 0 thì có thể coi là bất thường.
- How many books did you read during last 12 months?: Min = 0, Max = 97. Giá trị Max có thể hơi cao nhưng vẫn có thể xảy ra đối với những người có thói quen đọc nhiều.

## 2.8. Với mỗi cột phân loại, các giá trị được phân bổ như thế nào?
### Tỉ lệ phần trăm giá trị bị thiếu?

In [53]:
categorical_columns = data.select_dtypes(include=['object']).columns
missing_percent_categorical = data[categorical_columns].isnull().mean() * 100
print("Tỷ lệ phần trăm giá trị bị thiếu trong các cột phân loại:")
print(missing_percent_categorical)

Tỷ lệ phần trăm giá trị bị thiếu trong các cột phân loại:
Sex                                                     0.000000
Race                                                    0.000000
Marital status?                                         0.000000
Education                                               2.048023
Employement                                             0.000000
Incomes                                                 0.000000
Read any printed books during last 12months?           13.771186
Read any audiobooks during last 12months?              13.771186
Read any e-books during last 12months?                 13.771186
Last book you read, you…                               13.771186
Do you happen to read any daily news or newspapers?     0.000000
Do you happen to read any magazines or journals?        0.000000
dtype: float64

### Các giá trị khác nhau

In [56]:
unique_values_categorical = {col: data[col].unique()[:5] for col in categorical_columns}
num_unique_values = data[categorical_columns].nunique()
print("Số lượng giá trị khác nhau trong mỗi cột phân loại:")
print(num_unique_values)
print("\nMột vài giá trị khác nhau trong các cột phân loại:")
for col, values in unique_values_categorical.items():
    print(f"{col}: {values}")

Số lượng giá trị khác nhau trong mỗi cột phân loại:
Sex                                                     2
Race                                                    8
Marital status?                                         8
Education                                               7
Employement                                             8
Incomes                                                10
Read any printed books during last 12months?            3
Read any audiobooks during last 12months?               3
Read any e-books during last 12months?                  3
Last book you read, you…                                6
Do you happen to read any daily news or newspapers?     3
Do you happen to read any magazines or journals?        3
dtype: int64

Một vài giá trị khác nhau trong các cột phân loại:
Sex: ['Male' 'Female']
Race: ['Refused' 'Native American/American Indian' 'Mixed race'
 'Asian or Pacific Islander' 'Black or African-American']
Marital status?: ['Divorced' 'Married' 'Never been married' 'Widowed' 'Don’t know']
Education: ['College graduate' 'High school graduate' 'High school incomplete'
 'Some college, no 4-year degree'
 'Post-graduate training/professional school after college']
Employement: ['Retired' 'Employed full-time' 'Employed part-time'
 'Have own business/self-employed' 'Student']
Incomes: ['$20,000 to under $30,000' 'Less than $10,000' '$40,000 to under $50,000'
 '$10,000 to under $20,000' '$50,000 to under $75,000']
Read any printed books during last 12months?: ['Yes' 'No' 'Don’t know' nan]
Read any audiobooks during last 12months?: ['No' 'Yes' 'Don’t know' nan]
Read any e-books during last 12months?: ['Yes' 'No' 'Don’t know' nan]
Last book you read, you…: ['Purchased the book' 'Borrowed the book from a friend or family member'
 'Borrowed the book from a library' 'Got the book some other way' '8']
Do you happen to read any daily news or newspapers?: ['No' 'Yes' 'Don’t know']
Do you happen to read any magazines or journals?: ['Yes' 'No' 'Don’t know']

### Có gì bất thường không?
- Nếu cột Sex có giá trị khác ngoài Male và Female thì sẽ là bất thường.
- Cột Race có giá trị Refuse